#result {
    display: none;
}

#quarters {
    display: none;
}

#dimes {
    display: none;
}

#nickels {
    display: none;
}

#pennies {
    display: none;
}

#p-quarters {
    display: none;
}

#p-dimes {
    display: none;
}

#p-nickels {
    display: none;
}

#p-pennies {
    display: none;
}
